{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}

{{ include(
    'components/header/_navbar.html.twig',
    {
        'navList': [
            {name: "Home", path: "app_public_home"},
            {name: "A propos", path: "app_public_home"},
        ],
        'navAction': [
            {name: "Se connecter", path: "app_login"}
        ],
        'active': "Home"
    }
    )
}}

{# {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <h1>IS_AUTHENTICATED_FULLY</h1>
{% endif %} #}

<div class="bg-primary py-4">
    <div class="container d-flex justify-content-between text-light py-5">
        <div class="flex-grow-1">
            <h1>Bienvenue sur Mon Blog</h1>
            <p class="my-4">
                Un espace ouvert à tous pour découvrir, apprendre et partager partage ici ce qui vous passionne, au fil de mes idées et découvertes. Crée un compte pour réagir, suivre les nouveautés et faire partie de l’aventure.
            </p>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('app_article_index') }}" class="btn btn-outline-light">Voir tous les articles</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container py-5">
    <h2 class="text-2xl">Article populaire</h2>
</div>


{% endblock %}