{{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <button>
        {{ include('components/buttons/_button_solid.html.twig', {'button_label': 'Commenter'}) }}
    </button>
{{ form_end(commentForm) }}