<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" class="block" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="block bg-red-400 border-1 text-neutral-50 rounded-md px-4 py-1 mt-2 transition-all delay-50 cursor-pointer hover:bg-neutral-50 hover:text-red-400">Supprimer</button>
</form>
