{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>
        {{ include('components/buttons/_button_solid.html.twig', {'button_label': 'Enregistrer'}) }}
    </button>
{{ form_end(form) }}
