{% extends 'base.html.twig' %}

{% block title %}Modification Categorie - Mon Blog{% endblock %}

{% block body %}
    <div class="mb-10">
        {{ 
            include(
                'components/header/_navbar.html.twig',
                {
                    'go_back': path('app_category_show', {'id': category.id}),
                    'nav_title': "Modification de la catégorie"
                }
                )
        }}
    </div> 

    {{ include('category/_form.html.twig') }}

    {{ include('category/_delete_form.html.twig') }}
    
{% endblock %}
