<div
    class="
        block
        border-1
        rounded-md
        px-4
        py-1
        mt-2
        transition-all
        delay-50
        cursor-pointer
        bg-red-400
        text-neutral-50
        hover:bg-neutral-50
        hover:text-red-400
    ">
    {{ button_label }}
</div>