$primary: #3167cd;
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "~datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";

.like-button {
    background-color: $primary;
    color: #ddd;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primary;
        transform: scale(1.1);
        color: #ddd;
    }

    &.liked {
        background-color: var(--bs-success);
    }
}

.comment-form {
    margin-bottom: 2rem;
}

.message-item {
    max-width: 70%;
    
    & > #message-date {
        transition: 0.3s ease;
        opacity: 0;
    }

    &:hover #message-value {
        box-shadow: 0 .05em .05em .1em #ccc4;
    }
    &:hover #message-date {
        opacity: 1;
    }
}