{% extends 'base.html.twig' %}

{% block title %}Création d'article - {{ parent() }}{% endblock %}

{% block body %}

{{ include(
    'components/header/_navbar.html.twig',
    {
        'navList': [
            {name: "Home", path: "app_public_home"},
            {name: "Article", path: "app_article_index"},
            {name: "Catégories", path: "app_category_index"},
        ],
        'navAction': [],
        'active': "Article"
    }
    )
}}

<div class="container py-4">

    <h1>Créer un nouveau article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Ajouter'}) }}

</div>

{% endblock %}
