{% extends 'base.html.twig' %}

{% block title %}Créer un article - Mon Blog{% endblock %}

{% block body %}
    <div class="mb-10">
        {{ 
            include(
                'components/header/_navbar.html.twig',
                {
                    'go_back': path('app_article_index'),
                    'nav_title': "Créer une article"
                }
                )
        }}
    </div>

    {{ include('article/_form.html.twig', {'button_label': 'Créer l\'article'}) }}

{% endblock %}
